@font-size-title: 39px;
@font-size-headline: 24px;
@font-size-sub: 19px;
@font-size-primary: 15px;
@font-size-secondary: 12px;

@venue_width: 300px;
@venue_caption: rgba(0, 0, 0, 0.5);
@ratings_width: 14%;
@review_width: 100% - @ratings_width;

@detailsColor: #444;

h1 {
  font-size: @font-size-title;
  line-height: 45.304952px;
}
h2 {
  font-size: @font-size-headline;
}
h3 {
  font-size: @font-size-sub;
}
body {
  font-size: @font-size-primary;
  line-height: 28px;
}
small {
  font-size: @font-size-secondary;
}

body {
  padding: 1em;

  header {
    margin-bottom: 2em;
  }
}

a {
  color: white;
  text-decoration: none;

  &:hover, &.active {
    text-decoration: underline;
  }
}

.sections, .sorts {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 1em;

  > li + li {
    margin-left: 1em;
  }

  a, a:visited {
    color: #ddd;

    &:hover, &.active {
      color: white;
    }
  }
}

.sections {
  font-size: @font-size-sub;
}

.sorts {
  font-size: @font-size-sub;

  &:before {
    content: "Sort:";
    padding-right: 1em;
  }
}

.venues {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.venue {
  position: relative;
  width: @venue_width;
  height: @venue_width;
  margin: 1em;

  .details {
    .name {
      background-color: @venue_caption;
      border-radius: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 4px;
      padding: 0 4px;
    }

    .map_link {
      display: none;

    }

    .image_link {
      display: none;

      width: 2em;
      height: 2em;
    }

    .review {
      display: none;

      margin-bottom: 1em;
      width: @review_width;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  &:hover {
    box-shadow: 0 0 50px 5px @detailsColor;

    .name {
      text-decoration: underline;
    }

    &.reviewed .thumbnail {
      opacity: 0.5;
      transition-property: transform, opacity;
      transition-duration: 0.2s;
    }
  }

  &.selected {
    background-color: @detailsColor;
    box-shadow: 0 0 50px 20px @detailsColor;
    height: auto;

    .details {
      padding: 8px;

      .name {
        background-color: @detailsColor;
        border-radius: 0;
        margin: 0 0 1em;
        padding: 0;
        position: static;
        text-decoration: underline;
      }

      .review, .map_link, .image_link {
        display: block;
      }
    }
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: @venue_width;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px;
  text-align: center;
  width: @ratings_width;
  list-style: none;
}
.rating {
  background-color: @venue_caption;
  height: 49px;
  font-size: 32px;
  padding-top: 10px;
  height: @venue_width / 5 - 1;
}

.sidebar {
  float: left;
  position: fixed;
  right: 0;
}
#legend {
  margin-top: 2px;

}
.legend_item {
  background-color: #af2626;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  padding: 8px;
  height: 40px;
  color: white;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.legend_item + .legend_item {
  margin-top: 1px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
