@import '_color';
@import '_typography';
@import 'venue-list';

.sections {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;

  .font-header;
  font-size: @font-size-sub;
  margin: 1em auto;
  padding: 0 1em;
  max-width: @venue_width;

  a, a:visited {
    .hover-underline;
  }

  > * {
    margin: 0 1em;
  }
}

.tags {
  font-size: @font-size-primary;
  font-weight: 300;

  .tag {
    a {
      text-decoration: none;

      .name {
        .hover-underline;
      }

      .count {
        color: @chart-color;
        font-size: @font-size-secondary;
        padding-left: 0.38em;
        vertical-align: bottom;
      }

      &:hover, &:active, &.active {
        .name {
          text-decoration: underline;
        }
      }
    }
  }
}
