@import 'color';
@import 'typography';

@import 'card-list';

.sections {
  @extend %font-header;

  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  font-size: $font-size-sub;
  justify-content: space-around;
  margin: 1em auto;
  max-width: $card-width;
  padding: 0 1em;

  a,
  :visited {
    @include hover-underline;
  }

  > * {
    margin: 0 1em;
  }
}

.subnav {
  min-height: 3em;
}

.tags {
  font-size: $font-size-primary;
  font-weight: 300;
}

.tag {
  a {
    text-decoration: none;
  }

  .name {
    @include hover-underline;
  }

  .count {
    color: $chart-color;
    font-size: $font-size-secondary;
    padding-left: .38em;
    vertical-align: bottom;
  }

  :hover,
  :active,
  .active {
    .name {
      text-decoration: underline;
    }
  }
}
