<div id="venues_collection">
  <ul class="venues">
    <li class="venue" ng-repeat="venue in venues">
      <a href="#" class="thumbnail">
        <img ng-src="{{ venue.image }}" />
      </a>
      <span class="name">{{ venue.name }}</span>
      <ul class="ratings">
        <li class="rating {{ratingClass}}" ng-repeat="ratingClass in ratingClasses"><span ng-show="venue.ratings[ratingClass] >= 0">{{ venue.ratings[ratingClass] }}</span></li>
      </ul>
    </li>
  </ul>
</div>

<div class="sidebar">
  <ul id="legend" yoshinom-sort-keys>
    <li class="legend_item" yoshinom-sort-class="food">Food</li>
    <li class="legend_item" yoshinom-sort-class="service">Service</li>
    <li class="legend_item" yoshinom-sort-class="atmosphere">Atmos</li>
    <li class="legend_item" yoshinom-sort-class="uniqueness">Unique</li>
    <li class="legend_item" yoshinom-sort-class="bathroom">BTHRM</li>
  </ul>
</div>
