<div id="venues_collection">
  <ul class="venues">
    <li class="venue" ng-repeat="venue in venues">
      <a yoshinom-venue-hover href="#{{ venue.name }}" class="thumbnail">
        <img ng-src="{{ venue.image }}" />
      </a>

      <ul class="links">
        <li class="name">{{ venue.name }}</li>
        <li class="map_link">{{ venue.mapLink }}</li>
        <li class="image_link">{{ venue.imageLink }}</li>
      </ul>

      <ul class="ratings">
        <li class="rating {{ratingClass}}" ng-repeat="ratingClass in ratingClasses"><span ng-show="venue.ratings[ratingClass] >= 0">{{ venue.ratings[ratingClass] }}</span></li>
      </ul>

      <span class="review">{{ venue.review }}</span>
    </li>
  </ul>
</div>

<div class="sidebar">
  <ul id="legend" yoshinom-sort-keys>
    <li class="legend_item" yoshinom-sort-class="food">Food</li>
    <li class="legend_item" yoshinom-sort-class="service">Service</li>
    <li class="legend_item" yoshinom-sort-class="atmosphere">Atmos</li>
    <li class="legend_item" yoshinom-sort-class="uniqueness">Unique</li>
    <li class="legend_item" yoshinom-sort-class="bathroom">BTHRM</li>
  </ul>
</div>
