@import 'color';

.spinner {
  animation: sweep 1s infinite linear;
  border-bottom: 5px solid $white-color;
  border-radius: 75px;
  height: 150px;
  width: 150px;
}

@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
