@import '_color';

.spinner {
  animation: sweep 1s infinite linear;
  border-radius:75px;
  border-bottom:5px solid $white-color;
  height: 150px;
  width: 150px;
}

@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
