<header>
  <div class="title">
    <h1><a href="/">Yoshinom <img src="logo.png" alt="Logo: a bowl of noodle soup"/></a></h1>
    <h2>Wouldn't you rather be {{#if isDrinking}}drinking{{else}}eating{{/if}} these?</h2>
  </div>

  <h4 class="about">
    We collect the best of <a
      href="https://instagram.com/yoshinom">@Yoshinom</a> and rate the
    restaurants and recipies. May cause salivation.
    Please do not lick your screen.
  </h4>
</header>

<nav>
  <ul class="sections">
    <li class="section">{{#link-to "food" (query-params q="West LA" s="ratings.food") current-when="food"}}Food{{/link-to}}</li>
    <li class="section">{{#link-to "cocktails" (query-params q="" s="") current-when="cocktails"}}Cocktails{{/link-to}}</li>
  </ul>
</nav>

<div class="section-content">
  {{outlet}}
</div>
