<nav>
  <ul class="sections">
    <li class="label">Sections:</li>
    <li class="section">{{#link-to "food" (query-params filter="West-LA" sort="ratings.food")}}West LA Food &amp; Drink{{/link-to}}</li>
    <li class="section">{{#link-to "cocktails"}}Cocktails{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
