<nav>
  <ul class="sections">
    <li class="section">{{#link-to "food" (query-params q="West-LA" s="ratings.food") currentWhen="food"}}West LA Food &amp; Drink{{/link-to}}</li>
    <li class="section">{{#link-to "cocktails" (query-params q="" s="") currentWhen="cocktails"}}Cocktails{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
