<nav>
  <ul class="sorts">
    <li class="label">Sort:</li>
    <li class="sort">{{#link-to "section.sort" section "food"}}Food{{/link-to}}</li>
    <li class="sort">{{#link-to "section.sort" section "service"}}Service{{/link-to}}</li>
    <li class="sort">{{#link-to "section.sort" section "atmosphere"}}Atmosphere{{/link-to}}</li>
    <li class="sort">{{#link-to "section.sort" section "uniqueness"}}Uniqueness{{/link-to}}</li>
    <li class="sort">{{#link-to "section.sort" section "bathroom"}}Bathroom{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
