<nav>
  <ul class="sections">
    <li class="label">Sections:</li>
    <li class="section">{{#link-to "section.filter.sort" "food" "westla" "food"}}West LA Food &amp; Drink{{/link-to}}</li>
    <li class="section">{{#link-to "section.filter.sort" "cocktails" "all" "whiskey"}}Cocktails{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
