<nav>
  <ul class="sorts">
    <li class="label">Sort:</li>
    {{#each sort in sorts}}
      <li class="sort">{{#link-to "section.sort" section sort}}{{sort}}{{/link-to}}</li>
    {{/each}}
  </ul>
</nav>

{{outlet}}
