<nav>
  <ul class="sections">
    <li class="section">{{#link-to "section.sort" "westla" "food"}}West Los Angeles Series{{/link-to}}</li>
    <li class="section">{{#link-to "section" "about"}}About{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
