<nav>
  <ul class="sections tags">
    {{#each tag in tags}}
      <li class="section tag">{{#link-to indexRoute (query-params q=tag)}}{{tag}}{{/link-to}}</li>
    {{/each}}
  </ul>
</nav>

<ul class="venues">
  {{#each venue in arrangedContent}}
    {{yoshinom-venue venue=venue
                     itemRoute=itemRoute
                     action="toggleVenue"
                     tagName="li"
                     classNameBindings=':venue
                                        venue.isImageLoaded:loaded
                                        venue.review:reviewed
                                        venue.showDetails:selected'}}
  {{/each}}
</ul>
